<header>
    <h1> Hobbiton Public Library </h1>
    <nav class=global>
        <a href='/'>Home Page</a>
        |
        <a href='patrons'>Patrons</a>
        |
        <a href='transactions'>Transactions</a>
        |
        <a href='books'>Books</a>
        |
        <a href='holds'>Holds</a>
        |
        <a href='patron_holds'>Patron_Holds</a>
    </nav>
</header>
<script src="/js/books.js"></script>
<main>
    <table class='main-table' id='books-table'>
        <caption>
            Books
        </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Section</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.bookID}}</td>
                <td>{{this.title}}</td>
                <td>{{this.author}}</td>
                <td>{{this.subject}}</td>
                <td>{{this.location}}</td>
                <td>
                    <button onClick="deleteBook({{this.bookID}})">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>
<div class="note"><em>Note: A book cannot be deleted if there is an associated Hold.</em></div>

<div>
    <form id="add-book-form" method="POST" action="/add-book-form">
        <fieldset>
            <legend>
                ADD BOOK
            </legend>

            <table class="form-table">
                <caption class="form-cap">
                    Please fill out the form below
                </caption>

                <tbody>
                    <tr>
                        <td><label for="title">Title:</label></td>
                        <td><input type="text" name="title" required=""></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="author">Author:</label></td>
                        <td><input type="text" name="author" required=""></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="subject">Genre:</label></td>
                        <td>
                            <select id="subject" name="subject">
                                <option value="Biography">Biography</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Horror">Horror</option>
                                <option value="Dystopian">Dystopian Fiction</option>
                                <option value="SciFi">Science Fiction</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Romance">Romance</option>
                            </select>
                        </td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="location">Section:</label></td>
                        <td>
                            <select id="location" name="location">
                                <option value="Non-Fiction">Non-Fiction</option>
                                <option value="Fiction">Fiction</option>
                                <option value="Young Adult">Young Adult</option>
                                <option value="Horror/Thriller">Horror/Thriller</option>
                                <option value="Historical">Historical</option>
                            </select>
                        </td>
                        <td>*Required Field</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Add</button>
        </fieldset>
    </form>
</div>

</html>