
<main>
    <table  class='main-table' id='patrons-table'>
        <caption>
            Patrons
        </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {{#each data}}
            <tr>
                <td>{{this.patronID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>
                    <button onClick="deletePatron({{this.patronID}})">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="/js/delete_patron.js"></script>
</main>

<div>
    <form id="add-patron-form" method="POST" action="/add-patron-form">
        <fieldset>
            <legend>
                ADD PATRON
            </legend>
            <table class="form-table">
                <caption class="form-cap">
                    Please fill out the form below
                </caption>
                <tbody>
                    <tr>
                        <td><label for="patronID">Patron ID:</label></td>
                        <td><input type="number" name ="patronID" id="patronID" required></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="name">Full Name:</label></td>
                        <td><input type="text" name ="name" required=""></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="address">Residence:</label></td>
                        <td><input type="text" name ="address" required=""></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="email">Email:</label></td>
                        <td><input type="email" name ="email" required></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="phone">Phone Number:</label></td>
                        <td><input type="tel" name ="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required></td>
                        <td>*Required Field</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Add</button>
        </fieldset>
    </form>

    <form id="update-patron-form" action="/update-patron" method="POST">
        <fieldset>
            <legend>
                UPDATE PATRON
            </legend>
            <table class="form-table">
                <caption class="form-cap">
                    To update patron, select patron from the drop down and enter new data
                </caption>
                <tbody>
                    <tr>
                        <td><label for="patronIDSelect">Select Patron ID:</label></td>
                        <td>
                            <select id="patronIDSelect" name="patronID">
                                <option value="">Select a Patron ID</option>
                                {{#each data}}
                                <option value="{{this.patronID}}">{{this.patronID}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="nameSelect">Name:</label></td>
                        <td><input id="nameSelect" type="text" name ="name"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="addressSelect">Residence:</label></td>
                        <td><input id="addressSelect" type="text" name ="address"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="emailSelect">Email:</label></td>
                        <td><input id="emailSelect" type="email" name ="email"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="phoneSelect">Phone Number:</label></td>
                        <td><input id="phoneSelect" type="tel" name ="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Update Patron</button>
        </fieldset>
    </form>
    <script src="/js/update_patron.js"></script>
</div>

