
<main>
    <table class='main-table' id='transactions-table'>
        <caption>
            Transactions
        </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Book</th>
                <th>Patron</th>
                <th>Date</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                {{#each data}}
            <tr>
                <td>{{this.transactionID}}</td>
                <td>{{this.bookID}}</td>
                <td>{{this.patronID}}</td>
                <td>{{this.transactionDate}}</td>
                <td>{{this.transactionType}}</td>
                <td>
                    <button onClick="deleteTransaction({{this.transactionID}})">Delete</button>
                </td>
            </tr>
                {{/each}}
        </tbody>
    </table>
    <script src="/js/delete_transaction.js"></script>
</main>

<div>
    <form id="add-transaction-form" action="/add-transaction-form" method="POST">
        <fieldset>
            <legend>
                ADD TRANSACTION
            </legend>
            <table class='form-table'>
                <caption class="form-cap">
                    Please fill out the form below
                </caption>
                <tbody>
                    <tr>
                        <td><label for="transactionID">ID:</label></td>
                        <td><input id="transactionID" type="number" name ="transactionID" required></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="title">Book Title:</label></td>
                        <td><input id= "title" type="text" name ="title" required></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="name">Patron Name:</label></td>
                        <td><input id="name" type="text" name ="name" required></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="transactionDate">Date:</label></td>
                        <td><input id="transactionDate" name="transactionDate" type="date" required></td>
                        <td>*Required Field</td>
                    </tr>
                    <tr>
                        <td><label for="transactionType">Type:</label></td>
                        <td>
                            <select id="transactionType" name="transactionType">
                                <option value="checkout">Checkout</option>
                                <option value="return">Return</option>
                            </select>
                        </td>
                        <td>*Required Field</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Add</button>
        </fieldset>
    </form>
</div>
